<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB49uX9hTQSpN6dokBhl3FE8yXtLwizpXs</string>
	<key>GCM_SENDER_ID</key>
	<string>258565233294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.egov.salama</string>
	<key>PROJECT_ID</key>
	<string>hcm-moz-impel</string>
	<key>STORAGE_BUCKET</key>
	<string>hcm-moz-impel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258565233294:ios:3580799ca8fe5b32d787df</string>
</dict>
</plist>